body {
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    margin-top: 100px;
}

.headng-text {

    margin: 0%;
    padding: 0%;
    text-align: center;

}

.mar-top {
    margin-top: 150px;
    margin-left: 70px;
}

.male {
    display: flex;
    margin-bottom: 100px;
}

.half-width {
    width: 40%;
}

.half-width img {
    width: 80%;
    height: 700px;
    width: 700px;

}

.button {
    padding: 20px 60px;
    margin-left: 130px;
    background-image: linear-gradient(Orange, red);
    color: white;
    font-size: xx-large;
    font-weight: 700;
    border-radius: 10px;
    border-color: wheat;
}

.female {
    display: flex;
    background-image: url(images/shapes/7.png);

    background-size: 100%;
    background-repeat: no-repeat;

}

.half-width-female1 {
    width: 50%;
    margin-top: 120px;
    margin-left: 100px;
    margin-right: 80px;
    text-align: justify;
}

.half-width-female img {
    width: 50%;
    height: 700px;
    width: 700px;
}

.Recipie {
    text-align: center;
    margin-left: 350px;
    margin-right: 350px;
    font-size: 20px;
    font-weight: 100;
}

.recipie-section {
    display: flex;
}

.steak {
    width: 50%;
    font-size: 20px;

}

.steak img {
    width: 70%;
}

.soup {
    width: 50%;

}

.soup img {
    width: 70%;
    margin-left: 50px;
}

.mar-left {
    margin-left: 50px;
}